{% extends "homepage.html" %}
{% block content %}
<br>
<br>

<div class = "uvod" style="width: 600px; margin:0 auto; text-align: center;">
    <br>
    <h1> KUKCI </h1>
    <br>
    <p>Ovo je trenutna kolekcija kukaca u Muzeju Kukaca.
       <br>Klikom na ime kukca možete saznati više informacija o tom kukcu.
       <br> Za dodavanje nasumičnih "kukaca" korišten je Factory Boy.
       {% if user.is_authenticated%}
        <br><br> Ulogirani ste. Imate mogućnost dodavanja, uređivanja i brisanja kukaca.
       {% endif%}
    </p>
</div>
<br>
{% for kukac in kukac_list %}
<div class = "kukci" style = "width: 600px; margin: 0 auto;">
    <div class="kukac" style = "width: 600px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><br>
        <a class = "kukac-redirect-to-detail" href="{{kukac.id}}"><h2>{{ kukac.vrsta }}</h2></a><br>
        <img src="{{ kukac.slika.url}}" alt="connect">
    </div>
</div>
<br>
{% endfor %}
{% endblock %}
